
body {
    background-color: #FF9999;
    font-family: 'Kanit', sans-serif;
}

.el-header {
    color: red;
    text-align: center;
}

.fix-image {
    width: 800px;
}

.center {
    text-align: center;
}

.paragrap {
    margin-top: 20px;
}

.first-content {
    text-indent: 2.5em;
}

.underline {
    text-decoration:  underline;
}